<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Categories
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onNewCategory="newCategory"
            :buttons="headerButtons"/>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12" class="mt-3">
                    <category-datatable
                        :key="categoryDatatableKey"
                        @onOpenCategorySidebar="openCategorySidebar"/>
                </b-col>
            </b-row>
        </b-container>

        <octo-sidebar-right
            :title="titleSidebar"
            :show-sidebar="showCategorySidebar"
            :buttons="sidebarButtons"
            @onHidden="showCategorySidebar = false"
            @onSaveCategory="saveCategory"
            @onDeleteCategory="deleteCategory"
        >
            <category-form
                ref="categoryForm"
                :category-tree="loadedOptions"
                :key="categoryInfoKey"
                :languages="settings.languages"
                :category="currentCategory"/>
        </octo-sidebar-right>
    </div>
</template>

<script>
import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";
import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
import CategoryDatatable from "../datatables/CategoryDatatable";
import CategoryForm from "../forms/CategoryForm";
import Category from "../models/category";
import {routes} from "../routes";

export default {
    name: "CategoryView",
    components: {CategoryForm, OctoSidebarRight, CategoryDatatable, OctoHeaderButton},
    data() {
        return {
            headerButtons: [
                {
                    label: 'Aggiungi Categoria',
                    onClick: 'onNewCategory',
                    icon: 'plus'
                },
            ],
            showCategorySidebar: false,
            titleSidebar: 'Nuovo',
            currentCategory: Category,
            categoryDatatableKey: 1,
            categoryInfoKey: 1,
            loadedOptions: [],
            sidebarButtons: [],
            settings: {}
        }
    },

    mounted() {
        this.$fullLoading.show();
        this.settings = this.$localStorage.getSettings();
        this.$api.get(routes.CATEGORIES_SHOW_TREE)
            .then((resp) => {
                this.loadedOptions = resp.data.data;
                this.$fullLoading.hide();
            })
            .catch(() => {
                this.$fullLoading.hide();
            })

    },
    methods: {

        newCategory: function () {
            this.titleSidebar = 'Nuovo';
            this.currentCategory = this.$_.cloneDeep(Category);
            this.showCategorySidebar = true;
            this.sidebarButtons = [{
                label: 'salva',
                onClick: 'onSaveCategory',
                icon: 'floppy-disk',
            }];
            this.categoryInfoKey++;
        },
        openCategorySidebar: function (item) {
            this.titleSidebar = 'Modifica';
            this.currentCategory = this.$_.cloneDeep(item);
            this.showCategorySidebar = true;
            this.sidebarButtons = [
                {
                    label: 'salva',
                    onClick: 'onSaveCategory',
                    icon: 'floppy-disk',
                },
                {
                    label: 'elimina',
                    onClick: 'onDeleteCategory',
                    icon: 'delete',
                    styleBtn: 'secondary-button',
                    confirmData: {
                        title: 'Conferma Eliminazione',
                        message: 'Vuoi eliminare la categoria?'
                    },
                }
            ];
            this.categoryInfoKey++;
        },

        saveCategory: function () {
            if (this.$refs.categoryForm.validate()) {
                this.$fullLoading.show();
                this.currentCategory.tags = this.$refs.categoryForm.getCategoryTags();
                this.$api({
                    method: this.currentCategory.id ? 'put' : 'post',
                    url: this.currentCategory.id
                        ? routes.CATEGORIES_UPDATE.replace('{id}', this.currentCategory.id)
                        : routes.CATEGORIES_STORE,
                    data: this.currentCategory
                }).then(() => {
                    this.$fullLoading.hide();
                    this.$bvToast.toast('Category salvato correttamente', {
                        title: 'Saving...',
                        variant: 'success'
                    });
                    this.categoryDatatableKey++;
                    this.showCategorySidebar = false;
                }).catch((err) => {
                    this.$fullLoading.hide();
                    this.$errorMessageHandler.display(err);
                });
            }
        },

        deleteCategory() {
            this.$fullLoading.show();
            this.$api.delete(
                routes.CATEGORIES_DELETE.replace('{id}', this.currentCategory.id)
            )
                .then(() => {
                    this.$fullLoading.hide();
                    this.$bvToast.toast('Category cancellato correttamente', {
                        title: 'Saving...',
                        variant: 'success'
                    });
                    this.categoryDatatableKey++;
                    this.showCategorySidebar = false;
                })
                .catch(() => {
                    this.$fullLoading.hide();
                    this.$bvToast.toast('Category non cancellato', {
                        title: 'Saving...',
                        variant: 'danger'
                    });
                })
        },
    },
}
</script>

<style scoped lang="scss">

</style>
