<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Breadcrumbs
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onSaveNews="saveNews"
            :buttons="headerButtons"/>
        <b-container fluid class="mt-3">
            <b-row>
                <b-col cols="2">
                    <available-news-contents @onAddContent="addContent"/>
                </b-col>
                <b-col cols="10">
                    <news-contents
                        :news-langs="news.newsLangs"
                        :page="news.page"
                        :news-id="news.id"
                        :news-contents="news.newsContents"
                        :languages="availableLanguages"
                        :key="newsContentsKey"
                        ref="newsContents"
                    />
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
import AvailableNewsContents from "../components/newsBuilder/AvailableNewsContents";
import NewsContents from "../components/newsBuilder/NewsContents";
import {routes} from "../routes";
import News from "../models/news";

export default {
name: "NewsBuilderView",
    components: {NewsContents, AvailableNewsContents, OctoHeaderButton},
    data() {
        return {
            headerButtons: [
                {
                    label: 'Salva News',
                    onClick: 'onSaveNews',
                    icon: 'floppy-disk'
                },
            ],
            newsId : '',
            news: News,
            newsContentsKey: 1,
            availableLanguages: []
        }
    },
    methods: {

        saveNews: function () {
            this.$fullLoading.show();
            this.$api.put(
                routes.NEWS_CONTENT_UPDATE.replace('{id}', this.newsId),
                this.$refs.newsContents.getNewsContentsLocal())
            .then((resp) =>  {
                this.news = resp.data.data;
                this.newsContentsKey++;
                this.$fullLoading.hide()
                this.$bvToast.toast('News salvata correttamente', {
                    title: 'News Action',
                    variant: 'success'
                });
            }).catch(() => {
                this.$bvToast.toast('Problemi nel caricamento dei contenuti della news', {
                    title: 'Loading...',
                    variant: 'danger'
                });
                this.$fullLoading.hide();
            })
        },

        addContent: function (item) {
            this.$refs.newsContents.addContent(item);
        }
    },
    async mounted() {

        try {
            const clearRoute = location.toString().replace(location.search, "");
            const routeSlice = clearRoute.split('/');
            this.newsId = routeSlice.pop();

            this.$fullLoading.show();
            const news = await this.$api.get(routes.NEWS_SHOW.replace('{id}', this.newsId));
            this.news = news.data.data;
            this.availableLanguages = Object.keys(this.$_.keyBy(this.news.newsLangs, (item) => {
                return item.lang
            }))
            this.newsContentsKey++;
            this.$fullLoading.hide();

        } catch (e) {
            this.$bvToast.toast('Problemi nel caricamento dei contenuti della news', {
                title: 'Loading...',
                variant: 'danger'
            });
            this.$fullLoading.hide();
        }
    }
}
</script>

<style scoped lang="scss">


</style>
