<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    News
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onShowNewNewsSidebar="showNewNewsSidebar"
            :buttons="headerButtons"/>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12" class="mt-3">
                    <news-datatable :key="newsDatatableKey"
                                    @onOpenNewsSidebar="openNewsSidebar"
                                    @onShowNews="showNews"/>
                </b-col>
            </b-row>
        </b-container>

        <octo-sidebar-right
            @onHidden="showSidebar = false"
            @onSaveNews="saveNews"
            @onDeleteNews="deleteNews"
            :title="titleSidebar"
            :show-sidebar="showSidebar"
            :buttons="sidebarButtons"
        >
            <news-form
                ref="newsForm"
                :key="newsInfoKey"
                :news="currentNews"
                :category-tree="categoryTree"
            />
        </octo-sidebar-right>
    </div>
</template>

<script>
    import News from "../models/news";
    import {routes} from "../routes";
    import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";
    import NewsDatatable from "../datatables/NewsDatatable";
    import NewsForm from "../forms/NewsForm";

    export default {
        name: "NewsView",
        components: {NewsForm, NewsDatatable, OctoSidebarRight, OctoHeaderButton},
        data() {
            return {
                headerButtons: [
                    {
                        label: 'Nuova News',
                        onClick: 'onShowNewNewsSidebar',
                        icon: 'plus'
                    },
                ],
                showSidebar: false,
                titleSidebar: '',
                currentNews: News,
                newsDatatableKey: 1,
                newsInfoKey: 1,
                sidebarButtons: [],
                categoryTree: []
            }
        },
        computed: {},
        methods: {
            showNewNewsSidebar: function () {
                this.titleSidebar = 'nuova news';
                this.currentNews = this.$_.cloneDeep(News);
                this.showSidebar = true;
                this.sidebarButtons = [{
                    label: 'salva',
                    onClick: 'onSaveNews',
                    icon: 'floppy-disk',
                }];
                this.newsInfoKey++;
            },

            openNewsSidebar: function (item) {
                this.titleSidebar = 'modifica News';
                this.currentNews = this.$_.cloneDeep(item);
                this.showSidebar = true;
                this.sidebarButtons = [
                    {
                        label: 'salva',
                        onClick: 'onSaveNews',
                        icon: 'floppy-disk',
                    },
                    {
                        label: 'elimina',
                        onClick: 'onDeleteNews',
                        icon: 'delete',
                        styleBtn: 'secondary-button',
                        confirmData: {
                            title: 'Conferma Eliminazione',
                            message: 'Vuoi eliminare la news?'
                        },
                    }
                ];
                this.newsInfoKey++;
            },
            saveNews: function () {
                if (this.$refs.newsForm.validate()) {
                    this.$fullLoading.show();

                    this.currentNews.tags = this.$refs.newsForm.getNewsTags();
                    this.currentNews.categories = this.$refs.newsForm.getCategories();

                    this.$api({
                        method: this.currentNews.id ? 'put' : 'post',
                        url: this.currentNews.id
                            ? routes.NEWS_UPDATE.replace('{id}', this.currentNews.id)
                            : routes.NEWS_STORE,
                        data: this.currentNews
                    }).then(() => {
                        this.newsDatatableKey++;
                        this.showSidebar = false;
                        this.$fullLoading.hide();
                        this.$bvToast.toast('News salvata correttamente', {
                            title: 'Saving...',
                            variant: 'success'
                        });
                    }).catch((err) => {
                        this.$fullLoading.hide();
                        this.$errorMessageHandler.display(err);
                    });
                }
            },

            deleteNews() {
                this.$fullLoading.show();
                this.$api.delete(routes.NEWS_DELETE.replace('{id}', this.currentNews.id))
                    .then(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('News cancellata correttamente', {
                            title: 'Saving...',
                            variant: 'success'
                        });
                        this.newsDatatableKey++;
                        this.showSidebar = false;
                    })
                    .catch(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('News non cancellata', {
                            title: 'Saving...',
                            variant: 'danger'
                        });
                    })
            },

            showNews: function (newsId) {
                this.$routerDispatch.redirect(routes.NEWS_BUILDER_VIEW, {id: newsId})
            },
        },
        mounted() {
            this.$fullLoading.show();
            this.$api.get(routes.CATEGORIES_SHOW_TREE)
                .then((resp) => {
                    this.categoryTree = resp.data.data;
                    this.$fullLoading.hide();
                })
                .catch(() => {
                    this.$fullLoading.hide();
                    this.$bvToast.toast('Caricamento delle categorie fallito', {
                        title: 'Saving...',
                        variant: 'danger'
                    });
                });
        }
    }
</script>

<style scoped lang="scss">

</style>
