<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Blog Settings
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onSaveSettings="saveSettings"
            :buttons="headerButtons"/>
        <b-container fluid class="mt-3">
            <b-row>
                <b-col cols="6" class="">
                    <category-setting-form
                        :languages="settings.languages"
                        :settings="blogSettings.categories"
                    />
                </b-col>
                <b-col cols="6" class="">
                    <news-setting-form
                        :languages="settings.languages"
                        :settings="blogSettings.news"
                    />
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";
    import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
    import {routes} from "../routes";
    import CategorySettingForm from "../forms/CategorySettingForm";
    import NewsSettingForm from "../forms/NewsSettingForm";

    export default {
        name: "SettingsView",
        components: {
            NewsSettingForm,
            CategorySettingForm,
            OctoSidebarRight,
            OctoHeaderButton
        },
        data() {
            return {
                headerButtons: [
                    {
                        label: 'Salva',
                        onClick: 'onSaveSettings',
                        icon: 'floppy-disk'
                    },
                ],
                blogSettings: {},
                settings: {}
            }
        },

        mounted() {
            this.settings = this.$localStorage.getSettings();

            this.blogSettings = this.settings.module_blog
                ? this.$_.cloneDeep(this.settings.module_blog)
                : {};
        },
        methods: {
            saveSettings: function () {
                this.$fullLoading.show();

                this.$api.post(routes.CONFIG_SETTINGS_POST, {
                    name: "module_blog",
                    value: this.blogSettings,
                }).then((resp) => {
                    this.$fullLoading.hide();
                    this.$localStorage.setSettingsByName(resp.data.data.name, resp.data.data.value);
                    this.$bvToast.toast('Impostazioni aggiornate', {
                        title: 'Saving...',
                        variant: 'success'
                    });
                })
                    .catch(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Impostazioni non aggiornate', {
                            title: 'Saving...',
                            variant: 'danger'
                        });
                    });

            },
        },
    }
</script>

<style scoped lang="scss">

</style>
