<template>
    <b-card no-body class="p-2 card-sticky">
        <b-list-group flush>
            <b-list-group-item
                v-for="(item, index) in newsContents" v-bind:key="index"
                v-on:click="addContent(index)"
                class="text-center p-2">
                <octo-icon class="block-news-icon" :icon="item.icon"></octo-icon>
                <div class="small">{{item.label}}</div>
            </b-list-group-item>
        </b-list-group>
    </b-card>
</template>

<script>

import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
import newsContentConst from "../../resources/newsContentConst";
import NewsContent from "../../models/newsContent";

export default {
    name: "AvailableNewsContents",
    components: {OctoIcon},
    data() {
        return  {
            newsContents: newsContentConst
        }
    },
    methods: {
        addContent: function (index) {
            const newsContent = this.$_.cloneDeep(NewsContent);
            newsContent.type = index
            this.$emit('onAddContent', newsContent)
        }
    }
}
</script>

<style scoped lang="scss">

.block-news-icon {
    font-size: 36px;
}

.card-sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 60px;
}
</style>
