<template>
    <div>
        ciccio video
    </div>
</template>

<script>
import NewsContent from "../../models/newsContent";

export default {
    name: "NewsContentVideo",
    props: {
        newsContent: {
            type: Object,
            default: () => NewsContent
        },
        languages: {
            type: Array,
            default: () => []
        },
        currentLang: {
            type: String,
            default: ''
        }
    },
}
</script>

<style scoped>

</style>
