<template>
    <div>
        <div v-for="(lang, index) in languages" v-bind:key="index">
            <div v-if="currentLang === lang">
                <octo-rich-text
                    :editor-height="300"
                    :initial-value="initialValue(lang)"
                    @onEditorUpdate="(html) => updateHtml(html, lang)"/>
            </div>
        </div>
    </div>
</template>

<script>

import NewsContent from "../../models/newsContent";
import OctoRichText from "@octoCmsComponents/octo-rich-text/OctoRichText";

export default {
    name: "NewsContentHtml",
    components: {OctoRichText},
    props: {
        newsContent: {
            type: Object,
            default: () => NewsContent
        },
        languages: {
            type: Array,
            default: () => []
        },
        currentLang: {
            type: String,
            default: ''
        }
    },
    mounted() {

        this.$_.each(this.languages, language => {
            if (!this.$_.find(this.newsContent.newsContentLangs, (item) => {
                return item.lang === language;
            })) {
                this.newsContent.newsContentLangs.push({
                    lang : language,
                    text: ''
                });
            }
        });

    },
    methods: {
        updateHtml(html, lang) {

            this.$_.each(this.newsContent.newsContentLangs, (item) => {
                if(item.lang === lang) {
                    item.text = html
                }
            })
        },
        initialValue(lang) {
            const item = this.$_.filter(this.newsContent.newsContentLangs, (item) => {
                return item.lang === lang
            });
            return item && item[0] ? item[0].text : '';
        }
    }
}
</script>

<style scoped>

</style>
