<template>
    <b-container>
        <b-row class="justify-content-center">
            <b-col cols="10" class="mb-3 d-flex justify-content-center">
                <octo-image-entity
                    :current-lang="currentLang"
                    :languages="languages"
                    :picture="getPictureLocal('main')"
                    :key="octoImageEntityKey"
                    tag="main"
                    @onSaveImage="saveImage"
                ></octo-image-entity>
            </b-col>
        </b-row>
    </b-container>

</template>

<script>
import NewsContent from "../../models/newsContent";
import OctoImageEntity from "@octoCmsComponents/octo-image-entity/OctoImageEntity";
import Picture from "@octoCmsComponents/models/picture";

export default {
    name: "NewsContentPicture",
    components: {OctoImageEntity},
    data() {
        return {
            octoImageEntityKey : 1,
        }
    },
    props: {
        newsContent: {
            type: Object,
            default: () => NewsContent
        },
        languages: {
            type: Array,
            default: () => []
        },
        currentLang: {
            type: String,
            default: ''
        }
    },
    mounted() {

        this.octoImageEntityKey++;
    },
    methods: {
        saveImage(item) {

            const pictureIndex = this.$_.findIndex(this.newsContent.pictures, (picture) => {
                return picture.tag === item.tag
            });

            if (pictureIndex !== -1) {
                this.$set(this.newsContent.pictures, pictureIndex, item);
            } else {
                this.newsContent.pictures.push(item);
            }

            this.octoImageEntityKey++;

        },

        getPictureLocal(tag) {
            const picture = this.$_.find(this.newsContent.pictures, (picture) => {
                return picture.tag === tag
            });

            return picture ? picture : this.$_.cloneDeep(Picture);
        },
    }
}
</script>

<style scoped>

</style>
