<template>
    <div ref="newsContentsRef">
        <div class="lang-sticky">
            <octo-lang-selector
                title="Lingua News"
                :current-lang="currentLang"
                :languages="languages"
                @onChangeLanguage="(lang) => this.currentLang = lang"/>

            <b-alert show variant="warning" class="news-link mb-2 text-center">
                <a :href="newsUrl" target="_blank">{{ newsUrl }}</a>
            </b-alert>
        </div>
        <draggable v-model="newsContentsLocal"
                   v-bind="dragOptions"
                   @start="isDragging = true"
                   @end="isDragging = false"
                   @change="onChangeBlockOrder"
                   ref="newsContentsRef"
        >

                <b-card no-body
                        class="mb-2 p-2 "
                        v-for="(newsContent, blockIndex) in newsContentsLocal" v-bind:key="blockIndex">

                    <div class="d-flex ">
                        <div class="text-center">
                            <div class="title">
                                <octo-icon :icon="newsContentConst[newsContent.type].icon"/>
                            </div>
                            <div>
                                Pos: <span class="text-primary">{{ newsContent.position }}</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-auto border-left pl-3 flex-grow-1">
                            <component
                                :newsContent="newsContent"
                                :languages="languages"
                                :currentLang="currentLang"
                                :is="getNewsContentComponent(newsContent)"></component>
                        </div>
                        <div>
                            <octo-button
                                :confirm-data="{
                                            message : 'Vuoi eliminare il contenuto?',
                                            title: 'Conferma eliminazione'
                                                     }"
                                style-btn="light-button"
                                @onClick="removeNewsContent(blockIndex)"
                                icon="delete"/>

                        </div>
                    </div>

                </b-card>

        </draggable>

    </div>
</template>

<script>
import OctoLangSelector from "@octoCmsComponents/octo-lang-selector/OctoLangSelector";
import Page from "@siteBuilderVue/models/page";
import draggable from '@adminNodeModules/vuedraggable';
import newsContentConst from "../../resources/newsContentConst";
import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
import OctoButton from "@octoCmsComponents/octo-button/OctoButton";

export default {
    name: "NewsContents",
    components: {OctoButton, OctoIcon, OctoLangSelector, draggable},
    data() {
        return {
            currentLang: '',
            newsContentsLocal: [],
            newsContentConst: newsContentConst,
            settings: {}
        }
    },
    props: {
        languages: {
            type: Array,
            default: () => []
        },
        page: {
            type: Object,
            default: () => Page
        },
        newsId: {
            type: [Number, String],
            default: 0
        },
        newsContents: {
            type: Array,
            default: () => []
        }
    },

    watch: {},

    computed: {

        dragOptions() {
            return {
                animation: 0,
                disabled: false,
                ghostClass: "ghost"
            };
        },

        newsUrl: function () {
            const currentPageLang = this.$_.filter(this.page.pageLangs, (item) => {
                return item.lang === this.currentLang;
            });

            return process.env.MIX_BASE_URL + '/' +
                (this.currentLang === this.settings.locale ? '' : (this.currentLang + '/')) +
                (currentPageLang && currentPageLang[0] ? currentPageLang[0].url : '');
        }
    },
    beforeMount() {
        this.settings = this.$localStorage.getSettings()
    },
    mounted() {
        this.currentLang = this.settings.locale;
        this.newsContentsLocal = this.$_.orderBy(this.$_.cloneDeep(this.newsContents), 'position');
    },

    methods: {
        onChangeBlockOrder: function () {
            this.$_.forEach(this.newsContentsLocal, (item, index) => {
                this.$set(item, 'position', index);
            });
        },

        getNewsContentComponent: function (newsContent) {
            return this.newsContentConst[newsContent.type]
                ? this.newsContentConst[newsContent.type].component
                : null;
        },

        getNewsContentsLocal: function () {
            return this.newsContentsLocal;
        },

        addContent: function (item) {
            item.news_id = this.newsId;
            item.position = this.newsContentsLocal.length;
            this.newsContentsLocal.push(item);
            this.$nextTick(() => {
                window.scrollTo({
                    top: document.body.scrollHeight,
                    behavior: 'smooth'
                });
            });


        },

        removeNewsContent: function (index) {
            this.newsContentsLocal.splice(index, 1);
            this.onChangeBlockOrder();
        }
    }
}
</script>

<style scoped lang="scss">
.news-link {
    a {
        color: inherit;
    }
}


.no-move {
    transition: transform 0s;
}

.ghost {
    opacity: 0.5;
    background: #c8ebfb;
}

.lang-sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 60px;
    z-index: 5;
}

</style>
