<template>
    <b-container>
        <b-row class="mb-3">
            <b-col cols="12">
                Gestisci i contenuti riguardo a questa Categoria
            </b-col>
        </b-row>
        <b-row >
            <b-col cols="12"
                   class="mb-3"
                   v-for="(picture, tag) in settings.module_blog.categories.pictures"
                   v-bind:key="tag"
            >
                <octo-image-entity
                    :picture="getPictureLocal(tag)"
                    :tag="tag"
                    :key="octoImageEntityKey"
                    @onSaveImage="saveImage"
                />
            </b-col>
        </b-row>
        <b-row class="mb-3 align-items-end">
            <b-col cols="8">
                <div class="mb-2">Padre della Categoria</div>
                <treeselect
                    :key="treeselectCategoryKey"
                    v-model="parentLocal.id"
                    :multiple="false"
                    :normalizer="normalizer"
                    :options="options"
                    search-nested
                    :show-count="true"
                />
            </b-col>
            <b-col cols="4">
                <b-card no-body class="p-2">
                    <div class="d-flex align-items-center justify-content-between ">
                        <div class="text-uppercase mr-3">
                            Active
                        </div>
                        <b-form-checkbox v-model="categoryLocal.active" switch/>
                    </div>
                </b-card>
            </b-col>
        </b-row>

        <b-row class="mb-2">
            <b-col cols="12">
                <octo-tag-manager
                    ref="octoTagManager"
                    :group="group"
                    :selected-tags="categoryLocal.tags"
                />
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12">
                <octo-lang-selector :current-lang="currentLang"
                                    @onChangeLanguage="changeLanguage"/>
            </b-col>
            <b-col cols="12" v-for="(item, index) in categoryLocal.categoryLangs"
                   v-bind:key="index">
                <div v-if="currentLang === item.lang">
                    <octo-input
                        class="mb-2"
                        label="Name"
                        :error="errors['name-' + item.lang]"
                        @input="errors['name-' + item.lang] = false"
                        :name="`name-${index}`"
                        v-model="item.name"
                    />
                    <octo-text-area
                        class="mb-2"
                        label="Short Description"
                        :name="`short_description-${index}`"
                        v-model="item.short_description"
                        :rows="2"
                    />
                    <octo-text-area
                        class="mb-2"
                        label="Description"
                        :name="`description-${index}`"
                        v-model="item.description"
                        :rows="5"
                    />
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

import CategoryLang from "../models/categoryLang";
import Category from "../models/category";
import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
import OctoTextArea from "@octoCmsComponents/octo-text-area/OctoTextArea";
import Treeselect from '@adminNodeModules/@riophae/vue-treeselect';
import OctoLangSelector from "@octoCmsComponents/octo-lang-selector/OctoLangSelector";
import OctoTagManager from "@octoCmsComponents/octo-tag-manager/OctoTagManager";
import tagGroups from "@octoCmsComponents/octo-tag-manager/resources/tagGroups";
import OctoImageEntity from "@octoCmsComponents/octo-image-entity/OctoImageEntity";
import Picture from "@octoCmsComponents/models/picture";

export default {
    name: "CategoryForm",
    components: {OctoImageEntity, OctoTagManager, OctoLangSelector, OctoTextArea, OctoInput, Treeselect},
    data() {
        return {
            categoryLocal: Category,
            parentLocal: Category,
            group: tagGroups.CATEGORY_NEWS,
            options: [],
            errors: {},
            currentLang: '',
            treeselectCategoryKey: 1,
            octoImageEntityKey: 1,
            settings: {}
        }
    },
    props: {
        category: {
            type: Object,
            default: () => Category
        },
        categoryTree: {
            type: Array,
            default: () => []
        },
        languages: {
            type: Array,
            default: () => []
        },
    },
    computed: {

    },
    methods: {
        getLeafLabel: function (category) {
            const categoryLang = this.$_.find(category.categoryLangs, (categoryLang) => {
                return categoryLang.lang === this.settings.locale
            });
            return categoryLang ? categoryLang.name : 'N.D.';
        },

        normalizer: function (node) {
            return {
                id: node.id,
                label: this.getLeafLabel(node),
                children: (node.children && node.children.length) ? node.children : undefined,
            }
        },

        changeLanguage(language) {
            this.currentLang = language;
        },

        validate() {

            this.errors = {};

            this.$_.each(this.categoryLocal.categoryLangs, item => {
                if (item.name === '') {
                    this.currentLang = item.lang;
                    this.errors['name-' + item.lang] = true;
                }
            });

            return this.$_.isEmpty(this.errors);
        },

        getCategoryTags: function () {
            return this.$refs.octoTagManager.getEntityTags();
        },

        getPictureLocal(tag) {
            const picture = this.$_.find(this.categoryLocal.pictures, (item) => {
                return item.tag === tag
            }) || this.$_.cloneDeep(Picture);

            picture.tag = tag;

            return picture;
        },

        saveImage(item) {
            const pictureIndex = this.$_.findIndex(this.categoryLocal.pictures, (picture) => {
                return picture.tag === item.tag
            });

            if (pictureIndex !== -1) {
                this.$set(this.categoryLocal.pictures, pictureIndex, item);
            } else {
                this.categoryLocal.pictures.push(item);
            }

            this.octoImageEntityKey++;
        },
    },
    beforeMount() {
        this.categoryLocal = this.category;
        this.options = this.categoryTree;
        this.settings = this.$localStorage.getSettings();
    },
    mounted() {
        this.$completeLangs(
            this.categoryLocal.categoryLangs,
            CategoryLang,
            this.categoryLocal.id,
            'category_id'
        )

        this.parentLocal = this.categoryLocal.parents || Category;

        this.treeselectCategoryKey++;

        this.changeLanguage(this.settings.locale);
    },
    watch: {
        parentLocal: {
            handler() {
                this.categoryLocal.parent_id = this.parentLocal.id;
            },
            deep: true
        }
    }
}
</script>

<style scoped lang="scss">

</style>
