<template>
    <b-container>
        <b-row class="mb-3">
            <b-col class="12">
                News
            </b-col>
        </b-row>
        <b-row class="mb-3">
            <b-col cols="12" class="d-flex justify-content-between">
                <div>Set News Page as Published</div>
                <b-form-checkbox name="published" v-model="settings.page_publish" switch/>
            </b-col>
        </b-row>
        <hr>
        <b-row>
            <b-col cols="12">
                <octo-lang-selector :current-lang="currentLang"
                                    @onChangeLanguage="changeLanguage"/>
            </b-col>
            <b-col cols="12" v-for="(item, index) in settings.base_url" v-bind:key="index">
                <div v-if="currentLang === item.lang">
                    <octo-input
                        class="mb-2"
                        label="Base url"
                        :name="`base_url_${item.lang}`"
                        v-model="item.value"
                    />
                </div>
            </b-col>
        </b-row>
        <hr>
        <b-row class="mb-3">
            <b-col cols="12 d-flex">
                <octo-input
                    name="tag"
                    placeholder="Add new tag..."
                    v-model="tagToAdd"
                />
                <octo-button icon="plus" @onClick="addPictureSetting" :disabled="!tagToAdd" class="ml-3"/>
            </b-col>
        </b-row>
        <b-list-group flush class="mb-3">
            <b-list-group-item v-for="(picture, tag) in settings.pictures" v-bind:key="tag">
                <b-row class="d-flex align-items-center">
                    <b-col cols="2" class="d-flex justify-content-center text-uppercase">
                        {{tag}}
                    </b-col>
                    <b-col cols="4">
                        <octo-input
                            name="imageWidth"
                            v-model="picture.image_width"
                            prepend="width"
                        />
                    </b-col>
                    <b-col cols="4">
                        <octo-input
                            name="imageHeight"
                            v-model="picture.image_height"
                            prepend="height"/>
                    </b-col>
                    <b-col cols="2" class="d-flex justify-content-center">
                        <div class="mx-2" v-on:click="removePictureSetting(tag)" v-if="tag !== 'main'">
                            <octo-icon icon="delete"/>
                        </div>
                    </b-col>
                </b-row>
            </b-list-group-item>
        </b-list-group>
    </b-container>
</template>

<script>
    import NewsSetting from "../resources/newsSetting";
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import OctoLangSelector from "@octoCmsComponents/octo-lang-selector/OctoLangSelector";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import OctoButton from "@octoCmsComponents/octo-button/OctoButton";

    export default {
        name: "NewsSettingForm",
        components: {OctoButton, OctoIcon, OctoInput, OctoLangSelector},
        data() {
            return {
                settingsLocal: NewsSetting,
                currentLang: 'it',
                tagToAdd: '',
            }
        },
        props: {
            languages: {
                type: Array,
                default: () => []
            },
            settings: {
                type: Object,
                default: () => NewsSetting
            },
        },
        methods: {
            changeLanguage(language) {
                this.currentLang = language;
            },

            addPictureSetting() {
                this.$set(this.settings.pictures, this.tagToAdd, {
                    image_height: 500,
                    image_width: 500,
                });

                this.tagToAdd = '';
            },

            removePictureSetting: function (tag) {
                this.$bvModal.msgBoxConfirm(
                    'Sei sicuro di voler eliminare le configurazioni per questo tag?', {
                        title: 'Cancellazione tag',
                        size: 'sm',
                        buttonSize: 'sm',
                        okVariant: 'primary',
                        cancelVariant: 'dark',
                        okTitle: 'SI',
                        cancelTitle: 'NO',
                        footerClass: 'p-1',
                        headerClass: 'py-1 px-2',
                        hideHeaderClose: true,
                        noCloseOnBackdrop: true,
                        noCloseOnEsc: true,
                        centered: true
                    })
                    .then(value => {
                        if (value) {
                            this.$delete(this.settings.pictures, tag);
                        }
                    })
            }
        },
        mounted() {
            this.$_.each(this.languages, language => {
                if (!this.$_.find(this.settings.base_url, (item) => {
                    return item.lang === language;
                })) {
                    this.settings.base_url.push({
                        lang: language,
                        value: ''
                    });
                }
            });
        }
    }
</script>

<style scoped>

</style>
