<template>
    <div>
        <b-container>
            <b-row>
                <b-col cols="12" class="mb-3">
                    Gestisci i contenuti riguardo a questa news.
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12"
                       class="mb-3"
                       v-for="(picture, tag) in settings.module_blog.news.pictures"
                       v-bind:key="tag"
                >
                    <octo-image-entity
                        :picture="getPictureLocal(tag)"
                        :tag="tag"
                        :key="octoImageEntityKey"
                        @onSaveImage="saveImage"
                    />
                </b-col>
            </b-row>
            <b-row class="align-items-end">
                <b-col cols="8">
                    <octo-input
                        class="mb-3"
                        name="author"
                        label="author"
                        v-model="newsLocal.author"
                        :error="errors.author"
                        @input="errors.author = false"
                    />
                </b-col>
                <b-col cols="4">
                    <b-card no-body class="p-2 mb-3">
                        <div class="d-flex align-items-center justify-content-between ">
                            <div class="text-uppercase mr-3">
                                Active
                            </div>
                            <b-form-checkbox v-model="newsLocal.active" name="active" switch/>
                        </div>
                    </b-card>
                </b-col>
                <b-col cols="6" class="mb-3">
                    <octo-date-picker
                        label="date"
                        v-model="newsLocal.date"
                        placeholder="Choose a date"
                    />
                </b-col>
                <b-col cols="12">
                    <news-form-categories ref="newsFormCategories"
                                          :categories="newsLocal.categories"
                                          :category-tree="categoryTree"/>
                </b-col>
                <b-col cols="12" class="mt-3">
                    <octo-tag-manager
                        ref="octoTagManager"
                        :group="group"
                        :selected-tags="newsLocal.tags"
                    />
                </b-col>
                <b-col cols="12" class="mt-3">
                    <octo-lang-selector :current-lang="currentLang"
                                        @onChangeLanguage="changeLanguage"/>
                    <div v-for="(newsLang, index) in newsLocal.newsLangs"
                         v-bind:key="index">
                        <div class="flex-grow-1" v-if="currentLang === newsLang.lang">
                            <octo-input
                                class="flex-grow-1"
                                label="Title"
                                :name="`title-${newsLang.lang}`"
                                v-model="newsLang.title"
                                :error="errors['title-' + newsLang.lang]"
                                @input="errors['title-' + newsLang.lang] = false"
                            />
                            <div>
                                <octo-text-area
                                    class="mt-3"
                                    :name="`short-description-${newsLang.lang}`"
                                    v-model="newsLang.short_description"
                                    label="Short Description"
                                    :error="errors['short_description-' + newsLang.lang]"
                                    @input="errors['short_description-' + newsLang.lang] = false"
                                />
                            </div>
                        </div>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import OctoTextArea from "@octoCmsComponents/octo-text-area/OctoTextArea";
    import OctoLangSelector from "@octoCmsComponents/octo-lang-selector/OctoLangSelector";
    import OctoImageEntity from "@octoCmsComponents/octo-image-entity/OctoImageEntity";
    import Picture from "@octoCmsComponents/models/picture";
    import News from "../models/news";
    import NewsLang from "../models/newsLang";
    import OctoDatePicker from "@octoCmsComponents/octo-date-picker/OctoDatePicker";
    import OctoTagManager from "@octoCmsComponents/octo-tag-manager/OctoTagManager";
    import tagGroups from "@octoCmsComponents/octo-tag-manager/resources/tagGroups";
    import NewsFormCategories from "../components/NewsFormCategories";

    export default {
        name: "NewsForm",
        components: {
            NewsFormCategories,
            OctoTagManager,
            OctoDatePicker,
            OctoImageEntity,
            OctoLangSelector,
            OctoTextArea,
            OctoInput
        },
        data() {
            return {
                newsLocal: News,
                currentLang: '',
                imageSrc: '',
                octoImageEntityKey: 1,
                group: tagGroups.NEWS,
                settings: {},
                errors: {},
            }
        },
        props: {
            news: {
                type: Object,
                default: () => News
            },
            categoryTree: {
                type: Array,
                default: () => []
            }
        },
        computed: {},
        methods: {
            changeLanguage(language) {
                this.currentLang = language;
            },
            getPictureLocal(tag) {
                const picture = this.$_.find(this.newsLocal.pictures, (picture) => {
                    return picture.tag === tag
                });

                return picture ? picture : this.$_.cloneDeep(Picture);
            },
            saveImage(item) {

                const pictureIndex = this.$_.findIndex(this.newsLocal.pictures, (picture) => {
                    return picture.tag === item.tag
                });

                if (pictureIndex !== -1) {
                    this.$set(this.newsLocal.pictures, pictureIndex, item);
                } else {
                    this.newsLocal.pictures.push(item);
                }

                this.octoImageEntityKey++;
            },

            getNewsTags: function () {
                return this.$refs.octoTagManager.getEntityTags();
            },

            getCategories() {
                return this.$refs.newsFormCategories.getCategories();
            },

            validate() {
                this.errors = {};

                if (this.newsLocal.author === '') {
                    this.errors.author = true;
                }

                this.$_.each(this.newsLocal.newsLangs, item => {
                    if (item.title === '') {
                        this.currentLang = item.lang;
                        this.errors['title-' + item.lang] = true;
                    }
                    if (item.short_description === '') {
                        this.currentLang = item.lang;
                        this.errors['short_description-' + item.lang] = true;
                    }
                });

                return this.$_.isEmpty(this.errors);
            },
        },
        beforeMount() {
            this.newsLocal = this.news;
            this.settings = this.$localStorage.getSettings();
        },
        mounted() {
            this.$completeLangs(
                this.newsLocal.newsLangs,
                NewsLang,
                this.newsLocal.id,
                'news_id'
            )

            this.changeLanguage(this.settings.locale);

            this.octoImageEntityKey++;
        },

    }
</script>

<style scoped lang="scss">

</style>
