<template>
    <octo-table
        :action="routes.DATATABLES.categoriesNews"
        :fields="fields"
        :filters="filters"
        :show-filters="true"
        name="CategoryDataTable"
    >
        <template v-slot:cell(id)="data">
            <div>{{data.item.id}}</div>
        </template>

        <template v-slot:cell(name)="data">
            {{$langLabel(data.item.categoryLangs, 'name')}}
        </template>

        <template v-slot:cell(active)="data">
            <octo-icon :icon="data.item.active ? 'tick' : 'wrong'"/>
        </template>

        <template v-slot:cell(tree)="data">
            <div
                class="small d-flex"
                v-for="(item, index) in getTreeLabels(data.item)" v-bind:key="index">
                <div class="text-primary mr-2 text-center">{{index}}</div>
                <div class="flex-grow-1">{{item}}</div>
            </div>

        </template>

        <template v-slot:cell(actions)="data">
            <div class="mx-2" v-on:click="$emit('onOpenCategorySidebar', data.item)">
                <octo-icon icon="pen"/>
            </div>
        </template>

        <template slot="custom-filters">

            <b-col cols="12" md="4" class="mb-3">
                <octo-select-async
                    label="Parent"
                    :value="{}"
                    :async-find-action="routes.SELECT.categoriesNews"
                    @input="(item) => filters.parent_id = item ? item.value : undefined"
                />
            </b-col>
            <b-col cols="12" md="2" class="mb-3">
                <octo-multiselect
                    label="active"
                    name="active"
                    :value="{}"
                    :multiple="false"
                    :options="booleanOptions"
                    @input="(item) => {filters.active = item.value}"/>
            </b-col>
        </template>
    </octo-table>
</template>

<script>
    import OctoTable from "@octoCmsComponents/octo-table/OctoTable";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import OctoMultiselect from "@octoCmsComponents/octo-multi-select/OctoMultiselect";
    import OctoSelectAsync from "@octoCmsComponents/octo-select-async/OctoSelectAsync";
    import {routes} from '../routes';

    export default {
        name: "CategoryDatatable",
        components: {OctoSelectAsync, OctoMultiselect, OctoIcon, OctoTable},
        data() {
            return {
                routes: routes,
                filters: {},
                fields: [
                    {key: 'id', label: 'ID', class: 'text-center'},
                    {key: 'name', label: 'Name', class: 'text-left'},
                    {key: 'active', label: 'active', class: 'text-center'},
                    {key: 'tree', label: 'Tree', class: 'text-left'},
                    {key: 'actions', label: '', class: 'text-right'},
                ],
                booleanOptions: [
                    {
                        name: 'Sì',
                        value: true,
                    },
                    {
                        name: 'No',
                        value: false,
                    }
                ],
            }
        },
        computed: {


        },
        methods: {
            getTreeLabels: function (item) {
                if (item.parents) {
                    return this.getLeafTree(item.parents).reverse();
                } else {
                    return ['Root'];
                }
            },
            getLeafTree: function (item, leafs = []) {

                leafs.push(this.$langLabel(item.categoryLangs, 'name'));

                while (item.parents) {
                    item = item.parents;
                    this.getLeafTree(item, leafs);
                }
                return leafs;
            }
        }
    }
</script>

<style scoped>

</style>
