<template>
    <octo-table
        :action="routes.DATATABLES.news"
        :fields="fields"
        :filters="filters"
        :show-filters="true"
        name="NewsDataTable"
    >
        <template v-slot:cell(id)="data">
            <div>{{ data.item.id }}</div>
        </template>

        <template v-slot:cell(active)="data">
            <octo-icon :icon="data.item.active ? 'tick' : 'wrong'"/>
        </template>

        <template v-slot:cell(author)="data">
            <div>{{ data.item.author }}</div>
        </template>

        <template v-slot:cell(title)="data">
            {{ $langLabel(data.item.newsLangs, 'title') }}
        </template>

        <template v-slot:cell(date)="data">
            <div>{{ data.item.date | date }}</div>
        </template>

        <template v-slot:cell(actions)="data">
            <div class="d-flex justify-content-end">
                <div class="mx-2" v-on:click="$emit('onOpenNewsSidebar', data.item)">
                    <octo-icon icon="pen"/>
                </div>
                <div class="mx-2" v-on:click="$emit('onShowNews', data.item.id)">
                    <octo-icon icon="coding"/>
                </div>
            </div>
        </template>
    </octo-table>
</template>

<script>
    import OctoTable from "@octoCmsComponents/octo-table/OctoTable";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import {routes} from "../routes";

    export default {
        name: "NewsDatatable",
        components: {OctoIcon, OctoTable},
        data() {
            return {
                filters: {},
                fields: [
                    {key: 'id', label: 'ID', class: 'text-center'},
                    {key: 'active', label: 'Stato', class: 'text-center'},
                    {key: 'author', label: 'Autore', class: 'text-left'},
                    {key: 'title', label: 'Titolo', class: 'text-left'},
                    {key: 'date', label: 'Data', class: 'text-left'},
                    {key: 'actions', label: '', class: 'text-right'},
                ],
                routes: routes,
            }
        },
    }
</script>

<style scoped>

</style>
