<template>
    <div>
        <b-alert :show="true"
                 variant="primary"
                 class="text-uppercase text-left py-1">
            categorie
        </b-alert>

        <treeselect
            class="mb-3"
            v-model="localCategories"
            open-direction="bottom"
            valueFormat="object"
            :flat="true"
            :limit="1"
            :key="treeselectCategoryKey"
            :multiple="true"
            :normalizer="normalizer"
            :options="categoryTree"
            search-nested
            :clearable="false"
        />

        <b-list-group>
            <b-form-radio-group v-model="categoryMainId" name="radio-sub-component">
                <b-list-group-item v-for="(category, index) in localCategories"
                                   v-bind:key="index"
                                   class="d-flex justify-content-between">
                    <b-radio :value="category.id"
                             name="mainCategory">
                        {{$langLabel(category.categoryLangs, 'name')}}
                    </b-radio>
                    <div class="mx-2"
                         v-on:click="deselectCategory(index)"
                         v-if="category.id !== categoryMainId">
                        <octo-icon icon="delete"/>
                    </div>
                    <span class="text-uppercase text-primary" v-if="category.id === categoryMainId">main</span>
                </b-list-group-item>
            </b-form-radio-group>
        </b-list-group>

    </div>
</template>

<script>
    import Treeselect from "@adminNodeModules/@riophae/vue-treeselect";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";

    export default {
        name: "NewsFormCategories",
        components: {OctoIcon, Treeselect},
        data() {
            return {
                treeselectCategoryKey: 1,
                localCategories: [],
                categoryMainId: null
            }
        },
        props: {
            categories: {
                type: Array,
                default: () => []
            },
            categoryTree: {
                type: Array,
                default: () => []
            }
        },
        watch: {
            categories: function (val) {
                this.localCategories = val;
                const mainCategory = this.$_.find(this.localCategories, (item) => {
                    return item.main
                });
                this.categoryMainId = mainCategory ? mainCategory.id : null
                this.treeselectCategoryKey++;
            }
        },
        mounted() {
            this.localCategories = this.categories;
            const mainCategory = this.$_.find(this.localCategories, (item) => {
                console.log(item)
                return item.main
            });
            this.categoryMainId = mainCategory ? mainCategory.id : null
        },
        methods: {
            getLeafLabel: function (category) {
                const categoryLang = this.$_.find(category.categoryLangs, (categoryLang) => {
                    return categoryLang.lang === this.$localStorage.getSettings().locale
                });
                return categoryLang ? categoryLang.name : 'N.D.';
            },

            normalizer: function (node) {
                return {
                    id: node.id,
                    label: this.getLeafLabel(node),
                    children: (node.children && node.children.length) ? node.children : undefined,
                }
            },

            deselectCategory(index) {
                this.localCategories.splice(index, 1);
            },

            getCategories: function () {
                return this.$_.map(this.localCategories, (item) => {
                    return {
                        id : item.id,
                        main: item.id === this.categoryMainId
                    };
                });
            },

        },
    }
</script>
